<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bóveda de Mayda</title>
    <style>
        body { background: #fff0f5; text-align: center; font-family: sans-serif; padding-top: 50px; overflow-x: hidden; }
        .caja { background: white; padding: 20px; border-radius: 15px; display: inline-block; box-shadow: 0 4px 10px rgba(0,0,0,0.1); width: 80%; max-width: 350px; position: relative; z-index: 10; }
        h1 { color: #d63384; font-size: 1.2rem; line-height: 1.4; margin-bottom: 20px; }
        input { width: 90%; padding: 10px; margin: 10px 0; border: 1px solid #ffc0cb; border-radius: 5px; }
        button { background: #d63384; color: white; border: none; padding: 12px 20px; border-radius: 5px; cursor: pointer; width: 95%; font-weight: bold; }
        .btn-musica { background: none; border: none; color: #d63384; margin-top: 15px; cursor: pointer; font-size: 0.85rem; text-decoration: underline; width: 100%; }
        .corazon { position: fixed; top: -10px; color: #d63384; font-size: 20px; animation: caer linear forwards; z-index: 1; }
        @keyframes caer { to { transform: translateY(100vh) rotate(360deg); } }
    </style>
</head>
<body>
    <div class="caja">
        <h1>Feliz San Valentín, Mayda.<br>Este refugio digital es solo para que nosotros seamos testigos de nuestra historia.</h1>
        
        <form action="/verificar" method="POST">
            <input type="text" name="correo" placeholder="Tu correo de amor" required>
            <input type="password" name="clave" placeholder="Introduce el amuleto" required>
            <button type="submit">Entrar a nuestra Bóveda</button>
        </form>

        <audio id="musicaBoveda" loop>
            <source src="https://res.cloudinary.com/dvm2v0zvr/video/upload/v1770994214/Carla_Morrison_-_Disfruto_letra_qremt7.mp3" type="audio/mpeg">
        </audio>
        
        <button class="btn-musica" onclick="iniciarMagia()">
            🎵 Activar nuestra canción y magia
        </button>
    </div>

    <script>
        function iniciarMagia() {
            var audio = document.getElementById('musicaBoveda');
            audio.play().catch(function(error) { console.log("Error al reproducir:", error); });
            
            for(let i=0; i<35; i++) {
                setTimeout(() => {
                    const c = document.createElement('div');
                    c.innerHTML = '❤️';
                    c.className = 'corazon';
                    c.style.left = Math.random() * 100 + 'vw';
                    c.style.animationDuration = (Math.random() * 3 + 2) + 's';
                    c.style.opacity = Math.random();
                    document.body.appendChild(c);
                }, i * 250);
            }
        }
    </script>
</body>
</html>
